{{extend 'layout.html'}}

<div id="target"></div>

<script id="template" type="text/ractive">
<div class="container">
    <div class="jumbotron">
        <h1>Edit your budget system</h1>
        <p>You can only edit your monthly income/spendings for next month and edit your weekly budget for next week</p>
        <a class="btn btn-success btn-lg" on-click="save-all">Save My Changes</a>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <span style="font-size: 30px">
                <div>Your current monthly income: {% current_income %}</div>
                Edit your income for next month: 
                {% #if adding_income %}
                    <input value="{% future_income %}" />
                    <i class="btn btn-default btn-sm fa fa-floppy-o" on-click='save_income'></i>
                {% else %}
                    <span>{% future_income %}</span>
                    <i class="btn btn-default btn-sm fa fa-pencil" on-click="edit_income"></i>
                {% /if %}
            </span>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <span style="font-size: 30px">
                Your total budget next month: {% total %}</span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Budgets This Week: </h3>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Budget Category</th>
                            <th>Budget for Current Week</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% #current_budgets:i %}
                        <tr>
                            <td>{% current_budgets[i]['name'] %}</td>
                            <td>{% current_budgets[i]['amount'] %}</td>
                        </tr>
                        {% /budgets %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Edit Budgets For Next Week: </h3>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Budget Category</th>
                            <th>Budget Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% #future_budgets:i %}
                        <tr>
                            <td>{% future_budgets[i]['name'] %}</td>
                            {% #if budget_under_edit != i %}
                                <td>{% future_budgets[i]['amount'] %}</td>
                                <td>
                                    <i data-index="{% i %}" class="btn btn-default btn-sm fa fa-pencil"
                                        on-click="edit_budget"></i>
                                    <i data-index="{% i %}" class="btn btn-default btn-sm fa fa-trash"
                                        on-click="delete_budget"></i>
                                </td>
                            {% else %}
                                <td><input value={% future_budgets[i]['amount'] %} /></td>
                                <td><i class="btn btn-info fa fa-floppy-o"
                                        on-click="save-budget-edit"></i></td>
                            {% /if %}

                        </tr>
                        {% /budgets %}

                        {% #if adding_budget %}
                        <tr>
                            <td><input placeholder="new budget category" id="category_name" /></td>
                            <td><input placeholder="0" id="category_budget" /></td>
                        </tr>
                        {% /if %}
                    </tbody>
                </table>
                <div class="panel-footer">
                    {% #if !adding_budget %}
                        <div class="btn btn-info btn-lg" on-click="add-budget">
                        <i class="fa fa-plus"></i></div>
                    {% else %}
                        <div class="btn btn-info btn-lg" on-click="save-budget">
                        <i class="fa fa-floppy-o"></i></div>
                    {% /if %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">    
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3>Fixed spendings this month: </h3>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Amount this Month</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% #current_fixed_spendings:i %}
                        <tr>
                            <td>{% current_fixed_spendings[i]['name'] %}</td>
                            <td>{% current_fixed_spendings[i]['amount'] %}</td>
                        </tr>
                        {% /current_fixed_spendings %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3>Edit fixed spendings for next month: </h3>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Amount>
                        </tr>
                    </thead>
                    <tbody>
                        {% #future_fixed_spendings:i %}
                        <tr>
                            <td>{% future_fixed_spendings[i]['name'] %}</td>
                            {% #if fixed_under_edit !=i %}
                                <td>{% future_fixed_spendings[i]['amount'] %}</td>
                                <td>
                                    <i data-index="{% i %}" class="btn btn-default btn-sm fa fa-pencil"
                                        on-click="edit_fixed"></i>
                                    <i data-index="{% i %}" class="btn btn-default btn-sm fa fa-trash"
                                        on-click="delete_fixed"></i>
                                </td>
                            {% else %}
                                <td><input value={% future_fixed_spendings[i]['amount'] %} /></td>
                                <td><i class="btn btn-info fa fa-floppy-o"
                                        on-click="save-fixed-edit"></i></td>
                            {% /if %}
                        </tr>
                        {% /future_fixed_spendings %}

                        {% #if adding_fixed %}
                        <tr>
                            <td><input placeholder="new fixed spending" id="spending_name" /></td>
                            <td><input placeholder="0" id="spending_amount" /></td>
                        </tr>
                        {% /if %}
                    </tbody>
                </table>
                <div class="panel-footer">
                    {% #if !adding_fixed %}
                        <div class="btn btn-info btn-lg" on-click="add_fixed">
                        <i class="fa fa-plus"></i>
                        </div>
                    {% else %}
                        <div class="btn btn-info btn-lg" on-click="save_fixed">
                        <i class="fa fa-floppy-o"></i>
                        </div>
                    {% /if %}
                </div>
            </div>
        </div>
    </div>
</div>

</script>

<script>
$(function() {
    var MAIN = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            //this part is for front-end page edits only
            adding_income: false,
            adding_budget: false,
            adding_fixed: false,
            budget_under_edit: -1,
            fixed_under_edit: -1,
            total: 0,
            //this following part is to connect with server
            current_income: 0,
            future_income: 0,
            current_budgets: [],
            future_budgets:[],
            current_fixed_spendings: [],
            future_fixed_spendings:[],
        }
    });


    $.ajax("{{=URL('default', 'load_data', user_signature=True)}}",
        {
        method: 'POST',
        success: function (data) {
            console.log(data);
            MAIN.set('current_income', data['current_income'][0]['amount']);
            MAIN.set('future_income', data['future_income'][0]['amount']);
            MAIN.set('current_budgets', data['current_budgets']);
            MAIN.set('future_budgets', data['future_budgets']);
            MAIN.set('current_fixed_spendings', data['current_fixed_spendings']);
            MAIN.set('future_fixed_spendings', data['future_fixed_spendings']);
            set_total();
            }
        }
    );

    function set_total() {
        var total = 0;
        fixed = MAIN.get('future_fixed_spendings');
        budgets = MAIN.get('future_budgets');
        for (i=0; i<fixed.length; ++i) {
            total += parseInt(fixed[i]['amount'])
        }
        for (i=0; i<budgets.length; ++i) {
            total += parseInt(budgets[i]['amount'])* 30 / 7
        }
        MAIN.set('total', parseInt(total));
    }

    MAIN.on('add-budget', function(){
        MAIN.set('adding_budget', true);
    });

    MAIN.on('save-budget', function(){
        var name = $('#category_name').val();
        var amount = $('#category_budget').val();
        MAIN.set('adding_budget', false);
        var new_budget = {"name": name, "amount": amount};
        var updated_budget = MAIN.get('future_budgets');
        updated_budget.push(new_budget);
        MAIN.set('future_budgets', updated_budget);
        set_total();
    });

    MAIN.on("save_income", function() {
        MAIN.set("adding_income", false);
        future_income = parseInt(MAIN.get('future_income'));
        MAIN.set('future_income', future_income);
    });

    MAIN.on("edit_income", function() {
        MAIN.set("adding_income", true);
    });

    MAIN.on('add_fixed', function(){
        MAIN.set('adding_fixed', true);
    });

    MAIN.on('save_fixed', function(){
        var name = $('#spending_name').val();
        var amount = $('#spending_amount').val();
        MAIN.set('adding_fixed', false);
        var new_spending = {"name": name, "amount": amount};
        var updated_spending = MAIN.get('future_fixed_spendings');
        updated_spending.push(new_spending);
        MAIN.set('future_fixed_spendings', updated_spending);
        set_total();
    });

    MAIN.on("delete_budget", function(e) {
        var index = $(e.original.target).data('index');
        budgets = MAIN.get('future_budgets');
        target_budgets = budgets[index];
        budgets.splice(index,1);
        MAIN.set('future_budgets', budgets);
        set_total();
    });

    MAIN.on("edit_budget", function(e) {
        var index = $(e.original.target).data('index');
        MAIN.set('budget_under_edit', index);
    });

    MAIN.on("save-budget-edit", function(e) {
        MAIN.set('budget_under_edit', -1);
        set_total();
    });

    MAIN.on("delete_fixed", function(e) {
        var index = $(e.original.target).data('index');
        fixed = MAIN.get('future_fixed_spendings');
        target_fixed = fixed[index];
        fixed.splice(index,1);
        MAIN.set('future_fixed_spendings', fixed);
        set_total();
    });

    MAIN.on("edit_fixed", function(e) {
        var index = $(e.original.target).data('index');
        MAIN.set('fixed_under_edit', index);
    });

    MAIN.on("save-fixed-edit", function(e) {
        MAIN.set('fixed_under_edit', -1);
        set_total();
    });

    MAIN.on('save-all', function() {
        console.log(MAIN.data);
        future_fixed_spendings = MAIN.get('future_fixed_spendings');
        future_budgets = MAIN.get('future_budgets');
        future_income = MAIN.get('future_income');
        if (future_income === 0 || future_budgets.length === 0 ) {
            alert("Income or weekly budget cannot be empty");
        }
        else {
            $.ajax("{{=URL('default', 'save_edit', user_signature=True)}}",
                {
                method: 'POST',
                data: {
                    future_fixed_spendings: JSON.stringify(future_fixed_spendings),
                    future_budgets: JSON.stringify(future_budgets),
                    future_income: future_income,
                    }
                }
            );
            //window.location.href="{{=URL('default',"this_week")}}";            
        }
    });
});
</script>

