{{extend 'layout.html'}}

<div id="target"></div>

<script id="template" type="text/ractive">
<div class="container">
    <div class="jumbotron">
        <h1>Edit your budget system</h1>
        <p>Once you have saved your budget after the first time, you can only update your
        weekly budget for the following week, and you can only update your monthly income/fixed spendings
        for the following month</p>
        <a class="btn btn-success btn-lg" on-click="save-all">Save My Changes</a>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <span style="font-size: 30px">Your monthly income:
            {% #if adding_income %}
                <input value="{% income %}" />
                <i class="btn btn-default btn-sm fa fa-floppy-o" on-click='save_income'></i>
            {% else %}
                <span>{% income %}</span>
                <i class="btn btn-default btn-sm fa fa-pencil" on-click="edit_income"></i>
            {% /if %}
            </span>
        </div>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <span style="font-size: 30px">
                Your total monthly budget: {% total %}</span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Budgets that could change each week: </h3>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Budget Per Week</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% #categories:i %}
                        <tr>
                            <td>{% categories[i]['name'] %}</td>
                            {% #if budget_under_edit != i %}
                                <td>{% categories[i]['budget'] %}</td>
                                <td>
                                    <i data-index="{% i %}" class="btn btn-default btn-sm fa fa-pencil"
                                        on-click="edit_budget"></i>
                                    <i data-index="{% i %}" class="btn btn-default btn-sm fa fa-trash"
                                        on-click="delete_budget"></i>
                                </td>
                            {% else %}
                                <td><input value={% categories[i]['budget'] %} /></td>
                                <td><i class="btn btn-info fa fa-floppy-o"
                                        on-click="save-budget-edit"></i></td>
                            {% /if %}

                        </tr>
                        {% /categories %}

                        {% #if adding_budget %}
                        <tr>
                            <td><input placeholder="new budget category" id="category_name" /></td>
                            <td><input placeholder="0" id="category_budget" /></td>
                        </tr>
                        {% /if %}
                    </tbody>
                </table>
                <div class="panel-footer">
                    {% #if !adding_budget %}
                        <div class="btn btn-info btn-lg" on-click="add-budget">
                        <i class="fa fa-plus"></i></div>
                    {% else %}
                        <div class="btn btn-info btn-lg" on-click="save-budget">
                        <i class="fa fa-floppy-o"></i></div>
                    {% /if %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Spendings fixed per month: </h3>
                </div>
                <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount Per Month</th>
                    </tr>
                </thead>
                <tbody>
                    {% #fixed_spendings:i %}
                    <tr>
                        <td>{% fixed_spendings[i]['name'] %}</td>
                        {% #if fixed_under_edit !=i %}
                            <td>{% fixed_spendings[i]['amount'] %}</td>
                            <td>
                                <i data-index="{% i %}" class="btn btn-default btn-sm fa fa-pencil"
                                    on-click="edit_fixed"></i>
                                <i data-index="{% i %}" class="btn btn-default btn-sm fa fa-trash"
                                    on-click="delete_fixed"></i>
                            </td>
                        {% else %}
                            <td><input value={% fixed_spendings[i]['amount'] %} /></td>
                            <td><i class="btn btn-info fa fa-floppy-o"
                                    on-click="save-fixed-edit"></i></td>
                        {% /if %}


                    </tr>
                    {% /fixed_spendings %}

                    {% #if adding_fixed %}
                    <tr>
                        <td><input placeholder="new fixed spending" id="spending_name" /></td>
                        <td><input placeholder="0" id="spending_amount" /></td>
                    </tr>
                    {% /if %}
                </tbody>
                </table>
                <div class="panel-footer">
                    {% #if !adding_fixed %}
                        <div class="btn btn-info btn-lg" on-click="add_fixed">
                        <i class="fa fa-plus"></i>
                        </div>
                    {% else %}
                        <div class="btn btn-info btn-lg" on-click="save_fixed">
                        <i class="fa fa-floppy-o"></i>
                        </div>
                    {% /if %}
                </div>
            </div>
        </div>
    </div>
</div>

</script>

<script>
$(function() {
    var MAIN = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            adding_income: false,
            adding_budget: false,
            adding_fixed: false,
            budget_under_edit: -1,
            fixed_under_edit: -1,
            income: 0,
            categories: [],
            fixed_spendings: [],
            total: 0,
            user_initialized: false
        }
    });

    $.ajax("{{=URL('default', 'load_data', user_signature=True)}}",
        {
        method: 'POST',
        success: function (data) {
            console.log(data);
            MAIN.set('categories', data['categories']);
            MAIN.set('fixed_spendings', data['fixed_spendings']);
            MAIN.set('total', calculate_total_budget());
            }
        }
  );

    function calculate_total_budget() {
        var total = 0;
        fixed = MAIN.get('fixed_spendings');
        budgets = MAIN.get('categories');
        for (i=0; i<fixed.length; ++i) {
            total += parseInt(fixed[i]['amount'])
        }
        for (i=0; i<budgets.length; ++i) {
            total += parseInt(budgets[i]['budget'])* 30 / 7
        }
        return Math.round(total);
    }

    MAIN.on('add-budget', function(){
        MAIN.set('adding_budget', true);
    });

    MAIN.on('save-budget', function(){
        var name = $('#category_name').val();
        var amount = $('#category_budget').val();
        MAIN.set('adding_budget', false);
        var new_category = {"name": name, "budget": amount};
        var updated_category = MAIN.get('categories');
        updated_category.push(new_category);
        MAIN.set('categories', updated_category);
        MAIN.set('total', calculate_total_budget());
    });

    MAIN.on("save_income", function() {
        MAIN.set("adding_income", false);
        income = MAIN.get('income');
    });
    MAIN.on("edit_income", function() {
        MAIN.set("adding_income", true);
    });

    MAIN.on('add_fixed', function(){
        MAIN.set('adding_fixed', true);
    });

    MAIN.on('save_fixed', function(){
        var name = $('#spending_name').val();
        var amount = $('#spending_amount').val();
        MAIN.set('adding_fixed', false);
        var new_spending = {"name": name, "amount": amount};
        var updated_spending = MAIN.get('fixed_spendings');
        updated_spending.push(new_spending);
        MAIN.set('fixed_spendings', updated_spending);
        MAIN.set('total', calculate_total_budget());
    });

    MAIN.on("delete_budget", function(e) {
        var index = $(e.original.target).data('index');
        categories = MAIN.get('categories');
        target_category = categories[index];
        categories.splice(index,1);
        MAIN.set('categories', categories);
        MAIN.set('total', calculate_total_budget());
    });

    MAIN.on("edit_budget", function(e) {
        var index = $(e.original.target).data('index');
        MAIN.set('budget_under_edit', index);
    });

    MAIN.on("save-budget-edit", function(e) {
        MAIN.set('budget_under_edit', -1);
        MAIN.set('total', calculate_total_budget());

    })

    MAIN.on("delete_fixed", function(e) {
        var index = $(e.original.target).data('index');
        fixed = MAIN.get('fixed_spendings');
        target_fixed = fixed[index];
        fixed.splice(index,1);
        MAIN.set('fixed_spendings', fixed);
        MAIN.set('total', calculate_total_budget());
    });

    MAIN.on("edit_fixed", function(e) {
        var index = $(e.original.target).data('index');
        MAIN.set('fixed_under_edit', index);
    });

    MAIN.on("save-fixed-edit", function(e) {
        MAIN.set('fixed_under_edit', -1);
        MAIN.set('total', calculate_total_budget());
    });

    MAIN.on('save-all', function() {
        console.log("save-all button pushed");
        fixed_spendings = MAIN.get('fixed_spendings');
        income = MAIN.get('income');
        categories = MAIN.get('categories');
        console.log("fixed_spendings", fixed_spendings);
        console.log("income", income);
        console.log("categories", categories);
        if (income === 0 || fixed_spendings.length === 0 || categories.length === 0 ) {
            alert("Income can't be 0, weekly budget or fixed spendings can not be empty");
        }
        else {
            $.ajax("{{=URL('default', 'save_all', user_signature=True)}}",
                {
                method: 'POST',
                data: {
                    fixed_spendings: JSON.stringify(fixed_spendings),
                    budgets: JSON.stringify(categories),
                    income: income,
                    }
                }
            );
            //window.location.href="{{=URL('default',"this_week")}}";            
        }
    });
});
</script>

