{{extend 'layout.html'}}

{{if len(categories) == 0:}}
    <div class="container">
        <h1>Initialize your budget system</h1>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input class="form-control" type="password" placeholder="Password">
        </div>


    </div>
{{else: redirect(URL('default','this_week'))}}
{{pass}}



<!-- <a class="btn btn-primary" href=>Go to view2</a>

<h1>Set your budget!</h1>

<div class="text-center">
<form>
    Your monthly income:
    <input />
    <input type="submit" />
</form>


<form>
<h2>the budgets that are fixed over time:</h2>
    <div>
    <span><i class="fa fa-pencil"></i></span><span></span><input  />
    </div>

<h2>the budgets that are flexible over time:</h2>
    <div>
        <span></span><input />
    </div>
<input type="submit" />
</form>

</div> -->