{{extend 'layout.html'}}


{{if len(categories) == 0:}}
    <div class="container">
        <h1>Initialize your budget system</h1>
        <div id="target_income"></div>
        <div id="target_budget"></div>
    </div>
{{else: redirect(URL('default','this_week'))}}
{{pass}}

<script id="template_income" type="text/ractive">
    <span>Your monthly income: </span>
    {% #if editing %}
        <input value="{% income %}" />
        <span class="btn btn-default btn-sm" on-click='save'>Save</span>
    {% else %}
        <span>{% income %}</span>
        <span class="btn btn-default btn-sm" on-click="edit">edit</span>
    {% /if %}
</script>

<script>
$(function() {
    var INCOME = new Ractive({
        el: '#target_income',
        template: '#template_income',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            editing: true,
            income: 0
        }
    });
    INCOME.on("save", function() {
        INCOME.set("editing", false);
        income = INCOME.get('income');
        $.ajax("{{=URL('default', 'save_income', user_signature=True)}}",
            {
            method: 'POST',
            data: {
                income: income
                }
            }
        );
    });
    INCOME.on("edit", function() {
        INCOME.set("editing", true);
    });
});
</script>

<script id="template_budget" type="text/ractive">
    <div class="container">
        <table class="table">
        <thead>
            <tr>
                <th>Budget Category</th>
                <th>Budget amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% #test %}
                <td>{% a %}</td>
                <td>{% b %}</td>
                <td>{% c %}</td>
                {% /test %}
            </tr>
        </tbody>
        </table>
        <div class="btn btn-default" on-click="add-budget">add budget category</div>
    </div>
</script>

<script>
$(function() {
    var BUDGET = new Ractive({
        el: '#target_budget',
        template: '#template_budget',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            categories: {{=categories}},
        }
    });
});
</script>


<!-- <a class="btn btn-primary" href=>Go to view2</a>

<h1>Set your budget!</h1>

<div class="text-center">
<form>
    Your monthly income:
    <input />
    <input type="submit" />
</form>


<form>
<h2>the budgets that are fixed over time:</h2>
    <div>
    <span><i class="fa fa-pencil"></i></span><span></span><input  />
    </div>

<h2>the budgets that are flexible over time:</h2>
    <div>
        <span></span><input />
    </div>
<input type="submit" />
</form>

</div> -->