{{extend 'layout.html'}}

<script type="text/javascript" src="{{=URL('static','js/dygraph-combined-dev.js')}}"></script>

<div id="budget_history"></div>

<script type="text/javascript">
$(function() {
    file_name = "/flurbo/static/data/" + "{{=budget_history_file_name}}";
    G1 = new Dygraph(
        document.getElementById("budget_history"),
        file_name,
        {
            title: 'Budget_history',
            ylabel: 'Budget Amount'
        }
    );

//    G2 = new Dygraph(
//        document.getElementById("graphdiv2"),
//        "/flurbo/static/data/demo.txt"
//    );

})
</script>