{{extend 'layout.html'}}

<script type="text/javascript" src="{{=URL('static','js/dygraph-combined-dev.js')}}"></script>

<div class="container" style="margin: 50px">
<div class="jumbotron">
    <h2 style="margin: 20px">Here is some nifty little summary of your financial life</h2>
    <a class="btn btn-warning btn-lg" href="{{=URL('default','this_week')}}">Go back to week view</a>
</div>
</div>
<div class="graph" id="demo"></div>
<a class="btn btn-default" id="show_demo">hide demo</a>
<div class="graph" id="budget_history"></div>
<div class="graph" id="spending_history"></div>

<script>
    $(document).ready(function(){
        $("#show_demo").click(function(){
            $("#demo").toggle();
        });
    });
</script>


<script type="text/javascript">
$(function() {
    budget_history_file_name = "/flurbo/static/data/" + "{{=budget_history_file_name}}";

    G0 = new Dygraph(
        document.getElementById('demo'),
        '/flurbo/static/data/demo.txt',
        {
            title: 'Food budget and spending (demo)',
            ylabel: "dollar",
            legend: "always"
        }
    );

    G1 = new Dygraph(
        document.getElementById("budget_history"),
        budget_history_file_name,
            {
                title: 'Budget History',
                ylabel: 'Budget Amount'
            }
    );

    spending_history_file_name = "/flurbo/static/data/" + "{{=spending_history_file_name}}";
    G2 = new Dygraph(
        document.getElementById("spending_history"),
        spending_history_file_name,
            {
                title: "Spending Hisotry",
                ylabel: "Amount spent"
            }
    );
})
</script>