{{extend 'layout.html'}}

<div id="target"></div>

<script id="template" type="text/ractive">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                <thead>
                    <tr>
                        <th>Budget Category</th>
                        <th>Budget Per Week</th>
                        <th>You have spent</th>
                        <th>Add spending</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% #categories:i %}
                    <tr>
                        <td>{% categories[i]['name'] %}</td>
                        <td>{% categories[i]['budget'] %}</td>
                        <td>placeholder</td>
                        <td><input /></td>
                        <td>save button</td>
                    </tr>
                    {% /categories %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

</script>

<script>
$(function() {
    var MAIN = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            categories: [],
        }
    });

    $.ajax("{{=URL('default', 'load_data', user_signature=True)}}",
        {
        method: 'POST',
        success: function (data) {
            MAIN.set('categories', data['categories']);
            }
        }
    );
});
</script>