{{extend 'layout.html'}}


<script id="template" type="text/ractive">
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>This Week</h1>    
                <p>keep track of how you are doing with your budget this week</p>
                <a class="btn btn-info" href="{{=URL('default', 'edit_budget')}}">change my budget</a>
                <a class="btn btn-warning" href="{{=URL('default', 'spending_history')}}">my spending history</a>
                <a class="btn btn-success" href="{{=URL('default', 'summary')}}">summary</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                <thead>
                    <tr>
                        <th>Budget Category</th>
                        <th>Preset Budget</th>
                        <th>Budget this Week</th>
                        <th>You have spent</th>
                        <th>Budget left</th>
                        <th>Add spending</th>
                    </tr>
                </thead>
                <tbody>
                    {% #preset_budget:i %}
                    <tr>
                        <td>{% preset_budget[i]['name'] %}</td>
                        <td>{% preset_budget[i]['amount'] %}</td>
                        <td>{% current_available[preset_budget[i]['name']] %}</td>
                        <td>{% this_week_spent[preset_budget[i]['name']] %}</td>
                        <td>{% leftover[preset_budget[i]['name']] %}</td>
                        <td><input id="spending_{% i %}"/></td>
                        <td>
                            <span class="btn btn-success btn-sm" id="add_btn_{% i %}"
                            data-index="{% i %}"
                            on-click="add-spending">Add</span>
                        </td>
                    </tr>
                    {% /preset_budget %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
</script>

<div id="target"></div>



<script>
$(function() {
    var MAIN = new Ractive({
        el: '#target',
        template: '#template',
        delimiters: ['{%', '%}'],
        tripleDelimiters: ['{%%', '%%}'],
        data: {
            preset_budget: [],
            this_week_spent: [],
            current_available: [],
            leftover:[]
        }
    });

    $.ajax("{{=URL('default', 'load_week_data', user_signature=True)}}",
        {
        method: 'POST',
        success: function (data) {
            //console.log(data);
            MAIN.set('preset_budget', data['preset_budget']);
            MAIN.set('this_week_spent', data['this_week_spent']);
            MAIN.set('current_available', data['current_available_budget'])
            reset_leftover();
            }
        }
    );

    function reset_leftover(){
        var available = MAIN.get('current_available');
        var spent = MAIN.get('this_week_spent');
        var leftover = {};
        for (k in spent){
            leftover[k] = available[k] - spent[k]
        }
        MAIN.set('leftover', leftover);
    }

    MAIN.on('add-spending', function(e) {
        var index = $(e.original.target).data('index');
        var amount = parseInt($('#spending_' + index).val());
        var budget_category = MAIN.get('preset_budget')[index]['name'];
        var this_week_spent = MAIN.get('this_week_spent');
        $.ajax("{{=URL('default', 'save_spending_history', user_signature=True)}}",
            {
            method: 'POST',
            data: {
                budget_category: budget_category,
                amount: amount
            },
            success: function (data) {
                this_week_spent[budget_category] += amount
                MAIN.set('this_week_spent', this_week_spent);
                reset_leftover();
                // set the input field value to nothing and hide add button for two seconds
                input_field = $('#spending_' + index);
                input_field.val('');
                add_btn = $('#add_btn_' + index);
                add_btn.hide();
                setTimeout(function(){
                    add_btn.show();
                }, 2000);
                // reset_leftover();
                }
            }
        );
    });

});
</script>